header.page-header{
    width: 100%;
    background: rgba(229, 229, 229, 0.8);
}
.page-header-inner{
    background: rgba(255, 255, 255, 0.8);
}
.bar{
    width:22px;
    height: 2px;
    background: #a8a8a8;
    margin-top: 5px;
    margin-left: 10px;
}
header>div>div>div:first-child{
    margin-top:12px;
}
.barger_t{
    width: 40px;
    height: 40px;
    margin-top: 18px;
    margin-left: 10px;
}
.barger-d{
    width: 60px;
    height: 40px;
}
.my_logo{
    width: 70px;
    height: 45px;
    margin-top:8px;
    margin-bottom: 8px;
}
.my_logo1{
    width:130px;
    height:20px;
    margin-top: 33px;
    margin-right: 17px;
}
#header-a{
    list-style: none;
}
.bar_1{
    width:24px;
    height: 2px;
    z-index: 99;
    background: #a8a8a8;

    margin-left: 10px;
    transform: translateY(10px) rotate(45deg);
    transition: all 0.5s linear;
}
.bar_2{
    width:24px;
    height: 2px;
    z-index: 99;
    background: #a8a8a8;

    margin-left: 10px;
    transform: translateY(8px) rotate(-45deg);
    transition: all 0.5s linear;
}